body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    overflow: hidden;
    background-color: #222831;
    padding: 20px 10px;
    margin: 0;
    width: auto;
}

.header a {
    float: left;
    color: #76ABAE;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 10px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover,
.header a.active {
    background-color: #76ABAE;
    color: #222831;
}

.header-right {
    float: right;
}

/* Table */
table,
th,
td {
    margin: auto;
    border: 1px solid;
    width: 30%;
}

/* Map */
#map {
    width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
}

/* Button */
button {
    background-color: #222831;
    color: #76ABAE;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #76ABAE;
    color: #222831;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}

.article {
    background: #EEEEEE;
    padding: 20px;
    margin: 10px 0;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: calc(25% - 20px);
}

article#apartamente,
article#cartiere {
    padding: 100px;
    color: #EEEEEE;
}

article#apartamente {
    background-image: url(photos/apartamente.jpeg);
}

article#cartiere {
    background-image: url(photos/cartiere.webp);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}


#addForm {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
}

#addForm label {
    display: block;
    margin-bottom: 10px;
}


#addForm input[type="text"],
#addForm input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addForm input[type="text"]#bigger {
    width: 300px;
    height: 100px;
    padding: 10px;
}

#addForm input[type="password"]#bigger {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.star {
    font-size: 24px;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: gold;
}

/*
Account
*/
.account-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-info {
    max-width: 500px;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.account-info h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.account-info label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.account-info input[type="text"],
.account-info input[type="email"],
.account-info input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.account-info button {
    background-color: #222831;
    color: #76ABAE;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
}

.account-info button:hover {
    background-color: #76ABAE;
    color: #222831;
}

.reviews-container {
    max-width: 800px;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.review:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.review h3 {
    margin-top: 0;
}

.review p {
    margin-bottom: 0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}