/* Header */

/* Resetarea marginilor și padding-ului pentru html și body */


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Stiluri actualizate pentru .header */
.header {
    overflow: hidden;
    background-color: #222831;
    padding: 20px 10px;
    margin: 0;
    width: auto;
    /* Asigură-te că se întinde pe toată lățimea */
}

p {
    margin: auto;
}

table,
th,
td {
    margin: auto;
    border: 1px solid;
    width: 30%;
}

.header a {
    float: left;
    color: #76ABAE;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #76ABAE;
    color: #222831;
}

.header a.active {
    background-color: #76ABAE;
    color: #222831;
}

.header-right {
    float: right;
}

#map {
    width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
}



button:hover {
    background-color: #76ABAE;
    color: #222831;
}


article {
    background-image: none;
    background: #EEEEEE;
    padding: 20px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: calc(50% - 20px);
}

article#apartamente {
    background-image: url(photos/apartamente.jpeg);
    padding: 100px;
    color: #EEEEEE;
}

article#cartiere {
    background-image: url(photos/cartiere.webp);
    padding: 100px;
    color: #EEEEEE;
}




button {
    background-color: #222831;
    color: #76ABAE;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}