<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NoF</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="../public/javascript/header.js" defer></script>
</head>

<body>

<div class="header">
    <a href="index.html" class="logo">NoF</a>
    <a href="index.html">Home</a>
    <a href="filter.html">Reviews</a>
    <a href="post.html">Post my Issue</a>
    <a href="exports.html">API Documentation</a>
    <div class="header-right">
        <div id="user-nav" style="display: none;">
            <a href="myaccount.html">My account</a>
            <a href="#" id="logout">Logout</a>
        </div>
        <div id="auth-buttons">
            <a href="login.html">Log in</a>
            <a href="register.html">Register</a>
        </div>
    </div>
</div>

<div class="description-box">
    <h2>Welcome to NoF</h2>
    <p>
        At NoF, we provide in-depth reviews and ratings for a wide range of physical and non-physical products. Our mission is to help consumers make informed decisions by providing unbiased, thorough reviews. Whether you're looking for the best gadgets, household appliances, software, or services, we have you covered.
    </p>
</div>
</body>
</html>
