<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="../public/javascript/header.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document
                .getElementById("loginForm")
                .addEventListener("submit", async function (e) {
                    e.preventDefault();
                    const username = document.getElementById("username").value;
                    const password = document.getElementById("password").value;
                    const errorMessageDiv = document.getElementById("errorMessage");

                    try {
                        const response = await fetch("/api/login", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ username, password }),
                        });

                        if (response.ok) {
                            const data = await response.json();
                            localStorage.setItem("token", data.token);
                            alert("Login successful");
                            window.location.href = "index.html";
                        } else {
                            const errorData = await response.json();
                            errorMessageDiv.textContent = errorData.error || "Login failed";
                        }
                    } catch (error) {
                        errorMessageDiv.textContent = "An error occurred. Please try again.";
                    }
                });
        });
    </script>
</head>

<body>
<div class="header">
    <a href="index.html" class="logo">NoF</a>
    <a href="index.html">Home</a>
    <a href="filter.html">Reviews</a>
    <a href="post.html">Post my Issue</a>
    <a href="exports.html">API Documentation</a>
    <div class="header-right">
        <div id="auth-buttons">
            <a href="login.html">Log in</a>
            <a href="register.html">Register</a>
        </div>
    </div>
</div>

<br>
<section>
<div class="form-container">
    <form id="loginForm" name="loginForm">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <div id="errorMessage" style="color: red;"></div>
        <p><em>Don't have an account? You can <a href="register.html">register here.</a></em></p>
        <center><button type="submit">Login</button></center>
    </form>
</div>
</section>
</body>
</html>
