<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicii</title>
    <link rel="stylesheet" href="misc/style.css">
</head>
<body>
    <div class="header">
        <a href="index.html" class="logo">NoF</a>
        <a href="index.html">Home</a>
        <a href="filter.html">Physical Products</a>
        <a href="aboutus.html">About us</a>
        <a href="nonphy.html" class="active">Non-Physical Products</a>
        <a href="post.html">Post my Issue</a>
        <div class="header-right">
            <a href="myaccount.html">My account</a>
            <a href="login.html">Log in</a>
        </div>
    </div>

    <center>
        <div class = "article" id="search">
            <div>
                <label for="cheie"><span style="font-size: larger; ">Search keywords: </span></label>
                <input type="text" id="cheie" name="cheie">
            </div>
            <br>
            <div class="custom-select">
            <label for="cat"><span style="font-size: larger; ">Select category: </span></label>
            <select name="cat" id="cat">
                <option value="firma">Company</option>
            </select>
            </div>
            <br>
            <label for="ordine"><span style="font-size: larger; ">Order by: </span></label>
            <select name="ordine" id="ordine"> 
                <option value="ascending">Ascending</option> 
                <option value="descending">Descending</option> 
                <option value="most">Most Reviews</option>
            </select>
            <br>
            <button onclick="filterCartier()">Apply filters</button>
        </div>
</center>

    <div class="article-container">
        <div class="article">
            <h2>Nume Creator: Fabean</h2>
            <h3>Injectoare 1.5 delphi</h3>
            <p>Schimbate in 1000km.</p>
            <p class="review">&#9733;</p>
        </div>
        <div class="article">
            <h2>Nume Creator: Fabean</h2>
            <h3>Injectoare 1.5 delphi</h3>
            <p>Schimbate in 1000km.</p>
            <p class="review">&#9733;</p>
        </div>
        <div class="article">
            <h2>Nume Creator: Fabean</h2>
            <h3>Injectoare 1.5 delphi</h3>
            <p>Schimbate in 1000km.</p>
            <p class="review">&#9733;</p>
        </div>
        <div class="article">
            <h2>Nume Creator: Fabean</h2>
            <h3>Injectoare 1.5 delphi</h3>
            <p>Schimbate in 1000km.</p>
            <p class="review">&#9733;</p>
        </div>
    </div>
</body>
</html>
