<link rel="stylesheet" href="misc/style.css">


<a href="" class="menuIcon">☰</a>
<ul class="nav">
  <a href="index.html"><li class="selected">Home</li></a>
  <a href="filter.html"><li>Physical Products</li></a>
  <a href="aboutus.html"><li>About us</li></a>
  <a href="nonphy.html"><li>Non Physical Products</li></a>
  <a href="post.html"><li>Post my Issue</li></a>
  <a href="myaccount.html"><li>My account</li></a>
  <a href="login.html"><li>Post my Issue</li></a>
</ul>


<div class="header">
  <a href="index.html" class="logo">NoF</a>
  <a href="index.html">Home</a>
  <a href="filter.html">Physical Products</a>
  <a href="aboutus.html" class="active">About us</a>
  <a href="nonphy.html">Non Physical Products</a>
  <a href="post.html">Post my Issue</a>
  <div class="header-right">
      <a href="myaccount.html">My account</a>
      <a href="login.html">Log in</a>
  </div>
</div>



