body, html {
    background: url('https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/0/8/8905/red-rocks-park-o.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.top-bar {
    background-color: #fff;
    color: #76ABAE;
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Header */
.header {
    overflow: auto;
    background-color: #222831;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.header a {
    float: left;
    color: #76ABAE;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-left: 10px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.form-container a {
    color: #edeab7; /* Set the color to match the border */
    text-decoration: none; /* Remove underline */
}

.header a:hover,
.header a.active {
    background-color: #76ABAE;
    color: #222831;
}

.header-right {
    float: right;
    margin-right: 10px;
}

.description-box {
    background-color: rgb(255 255 255 / 90%);
    border-radius: 12px;
    padding: 30px;
    margin: 30px auto;
    max-width: 700px;
    text-align: center;
    box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
    color: #222831;
    border: 1px solid #ddd;
    position: relative;
}

.description-box::before {
    content: "✦";
    font-size: 50px;
    color: #76ABAE;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

section>h2 {
    font-size: 2rem;
    margin-left: 10rem;
}


.description-box h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #333;
    font-family: Georgia, serif;
}



.description-box p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 0;
    font-family: Arial, sans-serif;
}

/* Table */
table,
th,
td {
    border: 1px solid #222831;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    box-sizing: border-box;
}

th,
td {
    padding: 10px;
}

th {
    background-color: #222831;
    color: #FFF;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover:not(:first-child) {
    background-color: #ddd;
}

/* Button */
button {
    background-color: #222831;
    color: #76ABAE;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

button:hover {
    background-color: #76ABAE;
    color: #222831;
}

.article {
    background: #edeab7;
    padding: 20px;
    margin: 10px;
    flex-basis: auto; /* Eliminăm valoarea fixă a flex-basis */
    min-width: 500px; /* Definim o lățime minimă pentru fiecare articol */
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: 2px solid #222831;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.add-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.add-form label {
    display: block;
    margin-bottom: 10px;
}

.add-form input[type="text"],
.add-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-form input[type="text"].bigger {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.add-form input[type="password"].bigger {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.star {
    font-size: 24px;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: gold;
}

/* Account */
.account-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-info {
    max-width: 500px;
    background-color: #EEE;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
}

.account-info h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.account-info label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.account-info input[type="text"],
.account-info input[type="email"],
.account-info input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #edeab7;
}

.comment-form button {
    background-color: #222831;
    color: #76ABAE;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

.form-container button {
    background-color: #edeab7;
    color: #222831;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    font-weight: bold; /* Make button text font heavier */
}

.add-form button {
    background-color: #edeab7;
    color: #222831;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    font-weight: bold;
}

div.account-info button {
    background-color: #edeab7;
    color: #222831;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    font-weight: bold;
}

.comment-form button:hover {
    background-color: #76ABAE;
    color: #222831;
}

.account-info button:hover {
    background-color: #76ABAE;
    color: #222831;
}



.reviews-container {
    max-width: 800px;
    background-color: #EEE;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    margin: 20px auto;
}

.review {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.review:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.review h3 {
    margin-top: 0;
}

.review p {
    margin-bottom: 0;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.expand {
    background-color: transparent;
    border-radius: 100px;
    text-align: right;
}

button.expand:hover {
    background-color: rgb(0 0 0 / 50%);
}

.search-article {
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

select,
input.cheie {
    appearance: none;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    margin-bottom: 10px;
}

select {
    cursor: pointer;
}

input.cheie {
    width: 100%;
}

section>table {
    background-color: beige;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

textarea.addcomm {
    resize: none;
    width: 5rem;
    max-width: 18rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.filter,
.mic {
    appearance: none;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    margin-bottom: 10px;
}

.mic {
    height: 2.5rem;
}

.postari {
    font-size: 2rem;
    margin-left: 8.5rem;
}

.article-details, .comments, .add-comment {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.add-comment form {
    display: flex;
    flex-direction: column;
}

.add-comment textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}



.forsearch {
    display: flex;
    justify-content: center;
}

.commentspacing {
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: #edeab7;
    border-radius: 20px;
}

.postare {
    background-color: #f0eece;
    box-shadow: inset 0 0 0 15px #edeab7;
    text-align: center;
}

.usr {
    border-radius: 5px;
    background-color: #d9d4d4;
    margin-right: 2em;
}

.article-details > h1 {
    border-radius: 5px;
    background-color: #d9d4d4;
}

/* Comments Section */
.comments-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    max-width: 800px;
    margin: 20px auto;
}

.comments-section h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

/* Comments List */
.comments-list {
    margin-bottom: 20px;
}

.comments-list .comment {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    margin-bottom: 10px;
}

.comments-list .comment p {
    margin: 0 0 10px;
    color: #333;
}

.comments-list .comment small {
    color: #666;
}

/* Comments Form */
.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.form-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #76ABAE;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    border: 5px solid #222831;
    color: #222831; /* Font color set to the border's color */
    font-size: large; /* Make font heavier */
    font-weight: 900;
    text-decoration: none;
}

/* Input styling */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #edeab7; /* Input background color set to the border's color */
    color: #222831; /* Text color set to the form's background color */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold; /* Make input text font heavier */
}

/* Button styling */


.form-container button:hover {
    background-color: #222831;
    color: #76ABAE;
}



.form-container a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

/* Page-specific styles */
.admin-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center; /* Center the containers horizontally */
}

.user-list,
.post-list {
    flex: 1;
    max-width: 45%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    overflow-y: auto;
    box-sizing: border-box;
    height: 70vh; /* Set height to make it scrollable */
}

.post-list {
    background-color: #fff;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list th, .user-list td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.user-list th {
    background-color: #222831;
    color: #fff;
}

.user-list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-list tr:hover {
    background-color: #ddd;
}

.user-id {
    width: 50px; /* Make ID column smaller */
}

.user-username,
.user-email {
    max-width: 150px; /* Limit width of username and email columns */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editable-input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.editable-checkbox {
    transform: scale(1.5);
}

.post-list .article {
    background: #edeab7;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: 2px solid #222831;
    box-sizing: border-box;
    width: 100%; /* Make sure articles take full width */
}

.search-bar {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

@media (width <= 768px) {
    .admin-container {
        flex-direction: column;
    }

    .user-list,
    .post-list {
        max-width: 100%;
        height: 50vh; /* Adjust height for smaller screens */
    }

    .post-list .article {
        width: 100%; /* Ensure articles take full width on smaller screens */
    }
}

span.email, span.username, span.member-since {
    background-color: #edeab7;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
}

div.reviews-container h2 {
    padding-left: 10rem;
}

div.account-info h2 {
    padding-left: 5rem;
}

div.reviews-container {
    background: #edeab7;
    padding: 20px;
    margin: 10px;
    flex-basis: auto;
    min-width: 500px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
    border: 2px solid #222831;
    box-sizing: border-box;
}

div.account-info input {
    background-color: #edeab7;
}







.add-form button:hover {
    background-color: #222831;
    color: #76ABAE;
}

.add-form select, .add-form textarea {
    background-color: #edeab7;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #222831;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
}


.star-rating {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 8rem;
    align-items: center;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f2b600;
}

.comments-section .comment, .comments-section textarea {
    background-color: #edeab7;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    color: #222831;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: bold;
}

textarea {
    resize: none;
}

.like-container {
    text-align: center;
    margin-top: 20px;
}

.article-container {
    padding: 20px;
    flex-basis: auto;
    min-width: 500px;
    width: 50%;
    margin: 20px auto;
    box-sizing: border-box;
}

div.article button {
    border-radius: 8px;
}

div.search-article {
    max-width: 400px;
    background-color: #76ABAE;
    width: fit-content;
    border: 0.1rem solid #222831;
    color: #222831;
    font-size: large;
    font-weight: 900;
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
}

.inline-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-input label {
    margin-right: 0.4rem;
    padding-bottom: 1rem;
}

.inline-input label, .inline-input input {
    display: inline-block;
}

.search-article input, .search-article select {
    background-color: #edeab7;
}

.search-article button {
    background-color: #edeab7;
    color: #222831;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    font-weight: bold;
}

.search-article button:hover {
    background-color: #222831;
    color: #76ABAE;
}
